 @model IEnumerable<RDMS.Models.Dtos.OrderDto> 

   <div>
    <table class="table table-active table-bordered table-responsive table-striped">
    <thead>
          <tr>
                <th>S/N</th>
                <th>Price</th>
                <th>AvailableTime</th>
                <th>ReferenceNumber</th>
                <th>OrderStatus</th>
                <th>Delivery</th>
            </tr>

        </thead>
        <tbody >
            @if(Model.Count() > 0)
            {
                
                    @foreach (var order in Model)
                    {
                        <tr>
                        @* <tr> *@
                            <td>@order.Id</td>

                            <td>@order.Price</td>
                        
                            <td>@order.AvailableTime</td>
                        
                            <td>@order.ReferenceNumber</td>
                        
                            <td>@order.OrderStatus</td>
                            
                                <td>
                                    <a class="btn-warning btn" asp-action="DeliveryStatus" asp-controller="Order"  asp-route-id="@order.Id" style="border-radius: 5px;">Delivery</a>
                                </td>
                            @* <td>
                                <a asp-controller="Order" asp-action="OrderStatus"  asp-route-id="@order.Id"> Deliver </a>
                            </td>  *@
                            
                        </tr>
                    }
            }
               else
                {
                    <tr>
                        <td colspan="5" class="text-center">No Order found</td>
                    </tr>
                }

            <style>
                tr {
                    color: cadetblue;
                    text-transform: uppercase;
                }

                td. {
                    color: cornflowerblue;
                }

                table,
                th,
                td {
                    border: 1px solid;
                }
           </style>
        </tbody>
    </table>
</div>



