
    

@using RDMS.Models.Dtos
@model IEnumerable<OrderDto>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<style>
    .container {
        margin-top: 20px;
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 5px;
    }
     
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .table-responsive {
        margin-bottom: 20px;
    }
    
    .btn-group {
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <tbody>  
                <tr>
                    <td>Id</td>
                    <td>Reference Number</td>
                    <td>Price</td>
                    <td>FirstName</td>
                    <td>City</td>
                    <td>Street</td>
                    <td>State</td>
                    <td>Order</td>
                    <td>Food</td>
                </tr>
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.ReferenceNumber</td>
                            <td>@item.Price</td>
                            <td>@item.CustomerDto.FirstName</td>
                            <td>@item.City</td>
                            <td>@item.Street</td>
                            <td>@item.State</td>
                            <td>@item.OrderFoods</td>
                            <td>
                                <div>
                                    <button class="btn-danger btn" asp-action="DeliveryStatus" asp-controller="Order"asp-route-Id=@item.Id disabled> Details </button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">No Order found</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="btn-group">
         @* <button class="btn-danger btn" asp-action="Customer" asp-controller="User" > Back </button> *@
    </div>
</div>

    

    <!-- 
@* 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <script src="~/scripts/w3.js"></script>
    <div class="form-group">
       <i class="fa fa-search-minus"></i><input type="search" id="search" class="form-control" oninput="w3.filterHTML('#list', '.staff', this.value)" placeholder="Search for staff">
    </div>
if (@Model == null || @Model.Count() == 0)
{
    <h1>No Staff yet</h1>
}
else
{
    <div class="table-responsive">
        <table class="table" id="list">
            <caption>List of Staffs</caption>
            <thead>
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Position</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var staff in @Model)
                {
                    <tr class="staff">
                        <th scope="row">@staff.Id</th>
                        <td>@staff.FirstName</td>
                        <td>@staff.LastName</td>
                        <td>@staff.Email</td>
                        <td>@staff.PhoneNumber</td>
                        <td>@staff.PossName</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn-primary btn" asp-action="StaffProfile" asp-route-id=@staff.Id>View</a>
                                <a class="btn-warning btn" asp-action="Update" asp-route-id=@staff.Id>Edit</a>
                                <a class="btn-danger btn" asp-action="DeleteStaff" asp-route-id=@staff.Id>Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} *@
     -->