
 @using RDMS.Models.Dtos
 @using RDMS.Models.Enums
 @model BaseResponce<IEnumerable<FoodDto>>
 @* @model  IEnumerable<FoodDto> *@

    <link rel="stylesheet" href="~/styles/index.css"> 
    <script src="~/scripts/w3.js"   ></script>
 <div class="page-container">
            <div class="page-title">
                <h1 class="message"> Order food Online Home delivery</h1>
                <h1 class="message">We make live easy for you, Home delivery</h1>
                <h1 class="message"> The word largestion, Home delivery</h1>
                <h1 class="message">Always ready for you </h1>
                 <div >
                    <ul>
                        <p> if you are seeing this you have to make drop down location</p>
                 <form asp-controller="Customer" asp-action="IndexOfFood"> 
                    <li><label for=""Select Location></label></li>
                   <select asp-items="ViewBag.address" for="id" name="id"  required >
                   </select>
                   <input type="submit" class="btn btn-primary" value="Go">
                 </form>
                   </ul> 
              <ul>

                    <input type="search" name="" id="search" placeholder="Search" oninput="w3.filterHTML('.images', '.post-image', this.value)">
                </ul>
            </div>
    <div class="posted-food">
        @* <h3>Newly listed food ready for delivery</h3> *@
    </div>
    <div class="images" >
           @foreach (var food in @Model.Data)
        {
         <div class="post-image">
            @if (food.OrderStatus  !=  OrderStatus.NotAvailable)
            {   
                var branchId = $"BranchId{food.Id}";
                var eateryId = $"EateryId{food.Id}";
                var name = $"Name{food.Id}";
                var price = $"Price{food.Id}";
                @* var quantity = $"Quantity{food.Id}"; *@

                        <img  asp-append-version="true" src="~/Upload/Images/@food.Image" style="width: 200px; height: 200px;" alt="food.Data image">
                        <br>
                        <h6>@food.FoodName</h6>
                         <p>@food.Price</p>
                         <p>@food.Quantity <input type="hidden" name="Quantity"></p>
                        <p>@food.OrderStatus <input type="hidden"> </p>    
                        @* <form asp-action="MakeOrder" asp-controller="Order"> *@
                            <input type="hidden" id="@name" value="@food.FoodName"/>
                            <input type="hidden" id="@eateryId" value="@food.EateryId"/>
                            <input type="hidden" id="@price" value="@food.Price"/>
                            @* <input type="number" id="@quantity" value="1"/> *@
                         <div class="btn-group">
                            @* <a class="btn-primary btn" asp-controller="Order" asp-action="MakeOrder" asp-route-id=@food.Id>Order</a> *@
                            @* <button class="btn-primary btn OrderCart" id="@food.Id" >Order</button> *@
                        </div>               
                        @* </form> *@
            }
            else
            {
                        <img  asp-append-version="true" src="~/Upload/Images/@food.Image"  alt="food.Data image">
                        <h6>@food.Name</h6>
                        <p>$ @food.Price</p>
                        @* <p>@food.OrderStatus</p>*@
            }
        </div>
        }
    </div>
 </div>
<!-- Button trigger modal -->
@* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> *@

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      @* <form asp-action="MakeOrder" asp-controller="Order">
        <div class="modal-body cartDetails">
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Order</button>
        </div>
      </form> *@
    </div>
  </div>
</div>
 @section Scripts {

    <script>

        LoadCart();

        function LoadCart()
        {
            $.ajax({
                    url: '/CartItem/List',
                    method: 'GET',
                    dataType: 'JSON',
                    success: function(result){
                        @* console.log(result); *@
                        // alert("Food added");

                        let html =`
                            <table class="table">
                                <thead>
                                    <tr>
                                     <th>S/N</th>
                                     <th>Food Name</th>
                                     <th>Quantity</th>
                                     <th>Price</th>
                                     <th>Total</th>
                                     <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                        `;

                        let sn = 1;
                        $.each(result.value.data, function(index, data){
                            @* console.log(data); *@
                            html +=`
                                <tr>
                                    <td>`+ sn +`</td>
                                    <td>`+ data.foodName +`</td>
                                    <td>`+ data.quantity +`</td>
                                    <td>`+ data.price +`</td>
                                    <td>`+ data.total +`</td>
                                    <td>
                                        <input type="hidden" id="CartId" value="`+ data.id +`"/>
                                        <a class="btn btn-warning removeFromCart" id="`+ data.id +`">Remove</a>
                                    </td>
                                </tr>
                            `;

                            sn++;
                        })

                        html +=`
                                <tr>
                                    <td colspan="5" class="text-end">Total</td>
                                    <td>`+ result.value.totalPrice +`</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        `;

                        @* result.value.data*@
                        $(".TotalItem").html(result.value.totalItem);
                        $(".TotalPrice").html(result.value.totalPrice);
                        $(".cartDetails").html(html);
                        
                    },
                    error: function(error)
                    {
                        //console.log("error");
                    }
                })
        }

        $(".OrderCart").click(function(){
            let foodId = $(this).attr("id");
            let foodName = $("#Name"+ foodId).val();
            let quantity = $("#Quantity"+ foodId).val();
            let price = $("#Price"+ foodId).val();

            let data = {
                FoodId: foodId,
                FoodName: foodName,
                Quantity: quantity,
                Price: price
            };

            //console.log(data);

            if(quantity < 1)
            {
                alert("Quantity cannot be less than 1");
            }
            else
            {
                $.ajax({
                    url: '/CartItem/Add',
                    method: 'POST',
                    data: data,
                    dataType: 'JSON',
                    success: function(result){
                        @* console.log(result); *@
                        LoadCart();
                        alert("Food added");
                    },
                    error: function(error)
                    {
                        //console.log("error");
                    }
                })
                
            }

            
        });


        

        $(document).on( "click", ".removeFromCart", function(){

            let cartId = $(this).attr("id");
            let data = {
                Id: cartId,
            };

            if(cartId)
            {
                $.ajax({
                    url: '/CartItem/Remove',
                    method: 'POST',
                    data: data,
                    dataType: 'JSON',
                    success: function(result){
                        LoadCart();
                        alert("Food Removed");
                    },
                    error: function(error)
                    {
                        //console.log("error");
                    }
                })
            }

            
        });
        

        w3.slideshow(".message",2500);
    </script>

 }
 
