@model RDMS.Models.Dtos.EateryDto


<style>
    div {
        color: cornflowerblue;
    }
</style>


<div>
    <h4>Id : @Model.Id</h4><br><br>
    <h4>Eatery Name: @Model.Name</h4><br><br>
    <h4>Registration Number: @Model.CertificationNumber</h4><br><br>
    <h4> Certificate : @Model.CertificationNumber</h4><br><br>
    <h4>Logo : @Model.Logo</h4><br><br>
        <h4>IsVerify : @Model.IsVerify</h4><br><br>


</div>